iframe {
    width: 100%;
}

p {
    text-align: center;
    font-size: 22px;
}

ion-card-title {
    font-size: 30px;
    text-align: center;
    margin-bottom: 5px;
}

ion-card-subtitle {
    font-size: 16px;
    text-align: center;
}

a {
    text-decoration: none;
}