<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="gris"></ion-menu-button>
    </ion-buttons>

    <app-logo slot="end" redirectTo="/main"></app-logo>

    <ion-title>CLUB DE ESTIRPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="rosaChicle">
  <div class="container">
    <div class="nosotros">
      <div class="titulo">
        <strong> Nosotros </strong>
      </div>
      
      <p>
          Club de estirpe nace de la inquietud por ayudar a emprendedores a desarrollarse y guiarlos para reducir las curvas de aprendizaje que conlleva cualquier negocio. <br> 
          <br> 
          El concepto resumido es que <strong> el emprendedor se dedique a pensar en lo que realmente sabe hacer </strong> 
          y optimice sus recursos sin desgastarse en atender temas de su negocio ajenos a su talento. 
      </p>

      <ion-img src='assets/img/nosotros.svg'></ion-img>

    </div>
  </div>
</ion-content>
