<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="gris"></ion-menu-button>
    </ion-buttons>

    <app-logo slot="end" redirectTo="/main"></app-logo>

    <ion-title>CLUB DE ESTIRPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="colorNetworking">
  <div class="container">
    <div class="networking">

      <div class="titulo">
        <strong>Networking</strong>
      </div>
  
      <p>En club de estirpe realizamos networking de diferentes industrias, donde podrás conocer nuevas referencias de tu mercado, nuevos clientes y amigos con ideas y perspectivas que te ayudan a ampliar tus posibilidades.</p>
      <p>En nuestros eventos de networking tendrás interacción con empresarios y directivos de tus empresas favoritas, además de cientos de emprendedores compartiendo experiencias reales que enriquecerán tu conocimiento.</p>
    </div>

    <ion-img src='assets/img/networking.svg'></ion-img>
    <app-back-button></app-back-button>
    <app-contactanos></app-contactanos>
  </div>
</ion-content>
