ion-fab-button {
    border-style: solid;
    border-color: yellow;
    border-radius: 50%;
    border-width: 2px;
}

ion-img {
    width: 100px;
    height: 200px;
    display: block;
    margin: auto;
}