<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="gris"></ion-menu-button>
    </ion-buttons>

    <app-logo slot="end" redirectTo="/main"></app-logo>

    <ion-title>CLUB DE ESTIRPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  color="azulChicle">
  <div class="container">
    <div class="necesidades">
      <div class="titulo">
        <strong> Responsabilidad Social </strong>
      </div>

      <div class="titulo_azul">
        <strong> En Club de estirpe atendemos principalmente 2 necesidades sociales: </strong>
      </div>

        <ion-slides pager="ios" class="slide-full" [options]="slideOpt">
          <ion-slide *ngFor="let slide of slides_responsabilidad">
            <ion-card mode="ios">
              <img [src]="slide.img" class="slide-image">
              <ion-card-header>
                <ion-card-subtitle class="negocios_slides">
                  {{ slide.titulo }}
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-slide>
        </ion-slides>
    </div>
  </div>
</ion-content>
