<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="gris"></ion-menu-button>
    </ion-buttons>

    <app-logo slot="end" redirectTo="/main"></app-logo>

    <ion-title>CLUB DE ESTIRPE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="colorEmprendimiento">
  <div class="container">
    <div class="club_empresarial">
      <div class="titulo">
        <strong>CLUB EMPRESARIAL</strong>
      </div>

      <p>¡Todo en una sola membresía!</p>
      <p>Como parte del club tienes acceso a todas las areas de la plataforma</p>
      
      <ion-slides pager="ios" class="slide-full" [options]="slideOpt">
        <ion-slide *ngFor="let slide of slides_club_empresarial">
          <ion-card mode="ios">
            <img [src]="slide.img" class="slide-image">
            <ion-card-header>
              <ion-card-subtitle>
                {{ slide.titulo }}
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </div>
    <app-back-button></app-back-button>
    <app-contactanos></app-contactanos>
  </div>
</ion-content>
